.game-card__container{
	display: flex;
	flex-direction: row;
	height: 100%;
	width:100%;
}
.game-card__outer-container{
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
	width:100%;
}
.game-card__image-container,.game-card__details-container {
	align-items: center;
	display:flex;
	flex-direction: column;
	height: 100%;
	justify-content: center;
	width:50%;
}