.list-games__container {
	align-items: center;
	background-image: linear-gradient(#1A3F56 3%,#1B2838 100%);
	/* border: solid thin black; */
	display:flex;
	height: 100%;
	justify-content: center;
	position: absolute;
	width: 100%;
	/* z-index: -99; */
}
.list-games__slider{
	align-items: center;
	display:flex;
	flex-direction: column;
	height: 100%;
	justify-content: center;
	position: absolute;
	width: 100%;
}
.awssld__content{
	background-image: linear-gradient(#1A3F56 ,#1B2838 25%);
}