.list-games__container {
	background-image: linear-gradient(#1A3F56,#1B2838);
	align-items: center;
	/* border: solid thin black; */
	display:flex;
	height: 100%;
	width: 100%;
	position: absolute;
	justify-content: center;
	/* z-index: -99; */
}
.list-games__slider{
	width: 90%;
	height: 90%;
	position: absolute;
}
.awssld__content{
	background-image: linear-gradient(#1A3F56,#1B2838);
}