
.login__container {
  color:#b8b6b4;
	align-items: center;
	background-image: linear-gradient(#1A3F56 3%,#1B2838 100%);
	display:flex;
	flex-direction: column;
	justify-content: space-evenly;
	height: 100vh;
	position: absolute;
	width: 100vw;
}

.login-form__logo-container {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-bottom: 3rem;
	padding: 1rem;
}
.login-form__logo-container img {
	max-width: 200px;
}



.login-form__logo-container p {
	font-family: 'roboto';
	font-size: 6.2rem;
	font-weight: 100;
	margin: 0;
}

.login-form {
	align-items: center;
	display: flex;
	flex-direction: column;
	height: 20rem;
	justify-content: center;
	width: 20rem;
}

.login-form__input {
	border: none;
	width:100%;
	padding: 1rem 2rem;
}

.login-form__link{
	width: 100%;
	font-size: 1.4rem;
}

.login-form__button {
	font-size: 1.4rem;
	background-color: #1A3F56;
	border: .2rem solid #1B2838;
	padding: 1rem 2rem;
}