.chat-message__container {
  border-bottom: 0.1rem solid#21272F;
  /* max-width: 45%; */
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  font-variant: normal;
  justify-content: flex-start;
  margin: 0.2rem;
  padding: 0.2rem;
}
.chat-message__divider {
  margin-bottom: 0.7rem;
}
.chat-message__line-margin {
  font-size: 1.5rem;
  margin: 0 0.5rem;
}
.chat-message__message {
  font-size: 1.8rem;
  font-weight: 700;
}
.chat-message__time-stamp {
  color: grey;
  font-size: 1.1rem;
  font-style: italic;
}

.me {
  align-self: flex-end;
  background-color: lightgreen;
}

.you {
  align-self: flex-start;
  background-color: lightblue;
}
