.message-list__container {
  /* align-items: center; */
  background-color: #1d1f24;
  display: flex;
  flex-direction: column;
  position: relative;
  height: 68vh;
  overflow: scroll;
  /* justify-content: center; */
  width: 100%;
}
.css-y1c0xs::-webkit-scrollbar {
  display: none;
}
.css-13azwyo::-webkit-scrollbar {
  display: none;
}
