.message-list__container {
	/* align-items: center; */
	background-color: #1D1F24;
	display: flex;
	flex-direction: column;
	position: absolute;
	flex-grow:1;
	height:92%;
	overflow: scroll;
	/* justify-content: center; */
	width: 100%;
}
::-webkit-scrollbar{
	display: none;
}