.profile__container {
  align-items: center;
  background-color: #1b2838;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.profile__details-container {
  align-items: center;
  background-image: linear-gradient(#1a3f56 3%, #1b2838 100%);
  display: flex;
  height: 40vh;
  justify-content: flex-start;
  width: 100%;
  padding: 4rem 4rem;
}

.profile__details-seperator {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.profile__avatar {
  width: 14rem;
  padding: 0 3rem;
}

.profile__options-container {
  background-color: #1d1f24;
  height: 10vh;
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
}
.profile__options-title {
  margin: 0 3rem;
}

.profile-form__container {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
}
