.App {
  box-sizing: border-box;
  align-items: center;
  color: #b8b6b4;
  font-size: 1.8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  position: relative;
  text-align: center;
  width: 100vw;
}

